{% extends 'base.html' %}
{% block content %}

	<p><strong><a href="/">  voltar </a></strong></p>
		<font color="#fff"><h1>Formulário de inscrição</h1></font>
		<form  action="." method="POST">
		{% csrf_token %}
			<p>
			   <!-- <font color="#fff"><label for="{{ form.name.id_for_label }}" > {{ form.name.label }}: </label></font> -->
			   {{ form.name }}
			   {{ form.name.errors }}
			</p>
			<p>
			    <!-- <font color="#fff"><label for="{{ form.cpf.id_for_label }} ">{{ form.cpf.label }}: </label></font> -->
			    {{ form.cpf }}
			    {{ form.cpf.errors }}
		  	</p>
			<p>
			    <!-- <font color="#fff"><label for="{{ form.email.id_for_label }}">{{ form.email.label }}: </label></font> -->
			    {{ form.email}}
			    {{ form.email.errors }}
			</p>
			<p>
			     <!-- <font color="#fff"><label for="{{ form.phone.id_for_label }}"> {{ form.phone.label }}: </label></font> -->
			     {{ form.phone }}
			     {{ form.phone.errors}}
			</p>
			
			 <font color="#1E90FF"><input type="submit" value="Enviar!" class="btn btn-primary btn-lg btn-block"></font>
		</form>

{% endblock content %}