html {
  background-image: url(/static/img/fundo.jpg);
}
 
body {
  margin: 0;
  padding: 0;
  font: .625em Georgia, Serif;
  color: #363636;
}
 
#page {
  margin: 0 auto;
  padding: 20px 0 0 0;
  width: 800px;
  font-size: 1.2em;
}
 
h1 {
  line-height: 1.286;
  margin: .4em 0;
  padding: 0;
  text-shadow: 1px 1px 0 #fff;
	font-weight: normal;
	font-size: 2.2em;
	text-align: start;
	color: #FFFFFF;
  font-family: sans-serif;
}
 
 
#content {
  margin: 0 20px;
  font-size: 1.4em;
  text-shadow: 1px 1px 0 #fff;
}
 

#footer {
  position:absolute;
  bottom:0;
  width:750;
  clear: both;
  font-size: .9em;
  padding: 0 20px;
  border-top: 1px dotted #CDB380;
}

 
#footer #django {
  float: right;
  border: none;
}
