  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link type="image/x-icon" href="{{ STATIC_URL }}favicon.ico" rel="shortcut icon" />
 
  <title>EventeX - Você não pode perder</title>
 
  <link type="text/css" href="{{ STATIC_URL }}css/style.css" rel="stylesheet" media="screen" />
  <link type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
  <div id="page">
    <div id="header">
      <center>
        <div style="text-shadow: -1px -1px white, 1px 1px #FFB276; color:#fff; font-size: 50; ">EventeX</div>
      </center>
    </div>
      <div id="content">
        {% block content %}
        {% endblock content %}
      </div>
    <div id="footer">
      <font color="#fff"><p>&copy; 2014. <a rel="license" href="http://eventex.herike.com"><b>EventeX</b></a>, todos os direitos reservados. <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/br/80x15.png" /></a><a href="http://www.djangoproject.com/" id="django"><img src="https://djangoproject.com/s/img/badges/djangosite100x25.gif" border="0" alt="A Django site." title="A Django site." /></a></p></font>
    </div>
  </div>
</body>
</html>
